# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
*.log

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Poetry
poetry.lock

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Output files
relevant_code.txt
copy_context.log
